body{
     margin: 0px;
     padding:0px;
}
html{
    margin: 0px;
    padding:0px;
}
nav{
    display: none;
    position: fixed !important;
    width: 100%;
    color:red;
}

.head{
    height:100%;
    background-attachment: fixed;
    background-image: url('https://wallimpex.com/data/out/667/black-and-red-wallpaper-1920x1080-10217739.png');
}
.align-center{
    position: relative;
    top:40%;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1em;

}
.shine{
    text-transform: uppercase;
    overflow:hidden;
    background:linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes shining{
    0%{
        background-position: -500px;
    }
    100%{
        background-position: 500px;
    }
}
.animate{
    animation: shining 6s linear infinite;

}

.shop-thumbnail{
    transition: 0.5s ease-in-out;
}

.shop-thumbnail:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}


.album-wrapper{
    padding:50px;
    padding-top: 100px;
    background: rgb(51, 65, 65);
    overflow: hidden;
}
.album{
    margin-top:50px;
}

.thumbnail img{
    display: block;
    margin:auto;
    width:450px;
    height:auto;
}

.album-detail p{
    font-size: 12px;
    margin:0px;
    margin-top:5px;
}
.merch-wrapper{
    padding:50px;
    padding-top: 100px;
}
.concert-wrapper{
   /* border:1px solid red; */
   background: url('http://www.gigslutz.co.uk/wp-content/uploads/2018/04/71649-14992584-ben_howard_live_at_the_eden_project-8_jpg.jpg');
   background-attachment: fixed;
   height:100%;
   background-size: cover;
   padding:50px;
   padding-top:100px;
}
.concert-table{
    width:50%;
}
.parallax-wrapper{
    position: relative;
    height:100%;
}
.parallax-wrapper .background{
    /* position: absolute; */
    background-image: url('https://festileaks.com/wp-content/uploads/2015/10/IMG_2648-e1517918646575.jpg');
    background-size: cover;
    height:100%;
    width: 100%;
    background-attachment: fixed;
}
.parallax-wrapper .object{
   z-index: 500;
}
.social-sites{
    display: flex;
    list-style-type: none;
}
.social-sites li{
    padding:5px;
}
.icon{
    width:30px;
    height:30px;
}
.site-logo{
    width:60px;
    height:60px;
}
figure{
    /* position: relative; */
}
figure .shop-thumbnail{
    transform:scale(1.1);
}
.color-cornsilk{
    color:rgb(241, 215, 111);
}
.no-transform{
    transform:scale(1) !important;
}
.color-white{
    color: rgb(151, 147, 147);
}